@import 'mixins.scss';
@import 'variables.scss';

.App-content {
  text-align: center;
  background-color: $background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: $font-size;
  color: $text-color;
}
